/***** General *****/

$bg-color: #F6F6F6;
$primary-color: #9356DC;
$secondary-color: #FCA311;
$green-color: #99E2D0;
$green-font-color: #008766;
$dark-grey-color: #353535;
$light-grey-color: #EAEAEA;
$lign-blue-color: #99E2D0;

@mixin box-shadow-menu {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
}

@mixin box-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

@mixin lineargradientbg {
    background-image: linear-gradient(0deg, $primary-color, #FF79DA);
}

@mixin lineargradientbg-hover {
    background: linear-gradient(0deg, lighten($primary-color, 5%), lighten(#FF79DA, 5%));
}

@mixin lineargradientcolor {
    background: linear-gradient(0deg,#FF79DA, $primary-color,);
}


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.globalcontent {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.maincontent {
        .section__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28.13px;
        }
        .section__p {
            font-weight: 300;
            font-size: 18px;
            line-height: 21.09px;
        }
}

a {
    text-decoration: none;
    color: black;
}


p {
    font-weight: 500;
    font: 16px;
    line-height: 18.75px;
}

.restaurant__title {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-weight: 100;
}

.menu__title {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid  $lign-blue-color;
    padding-bottom: 9px;
    width: 40px;
}

.menu__dishname {
    font-size: 18px;
    font-weight: 500;
}

.menu__text {
    font-size: 14.5px;
    font-weight: 300;
}

.menu__price {
    font-size: 15px;
    font-weight: 700;
}


/***** navbar *****/

.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    .fa-solid {
        color: $dark-grey-color;
    }
    .fa-arrow-left {
        font-size: 17.2px; 
        position: absolute;
        margin-top: 24px;
        margin-left: 23px;
    }
    .navbar__divlogo {
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        .divlogo__logo {
            width: 162px;

        }
    }
}


/***** Main content *****/
/***Content section***/

.maincontent {
    display: flex;
    flex-direction: column;
    .maincontent__img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        object-position: center;
    }
    .firs-section__menu {
        border-radius: 45px 45px 0 0;
        margin-top: -55px;
        padding: 32px 17px 40px 17px;
    }
    .section__menu {
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .menu__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .fa-regular {
                font-size: 23px;
                -webkit-text-stroke: 0.5px $bg-color;
                transition: opacity 0.2s ease-in;
                padding-right: 24.5px;
                opacity: 1;
                &:hover {
                    opacity: 0;
                }
            }

            .fa-solid {
                position: absolute;
                opacity: 0;
                @include lineargradientcolor;
	            -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
                right: 41px;
                font-size: 23px;
                transition: opacity 0.15s ease-in;
                &:hover {
                    opacity: 1;
                }
            }

        }
        .section__button {
        width: 218px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px ;
        margin: auto;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
        @include box-shadow;
        @include lineargradientbg;
        opacity: 1;
        transition: all 0.2s ease-in;
        &:hover {
            opacity: 0.75;
            @include box-shadow-hover;
            }
        }
        
        .section__button p {
            color: white;
        }
    
    .subsection__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        opacity: 0;
        transform: translateX(-40px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        animation: appear 0.5s ease-in-out forwards;
        }
        .subsection__menu:nth-child(2) {
            animation-delay: 0.2s;
        }
        .subsection__menu:nth-child(3) {
            animation-delay: 0.4s;
        }
        .subsection__menu:nth-child(4) {
            animation-delay: 0.6s;
        }
        @keyframes appear {
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
        .menu__listdishes {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            width: 100%;
            border-radius: 15px;
            align-items: end;
            @include box-shadow-menu;
            .block__dish {
                display: flex;
                flex-direction: column;
                padding: 13.5px 15px;
                overflow: hidden;
                .menu__dishname, .menu__text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .block__price-button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: end;
                gap: 15px;
                .menu__price {
                    padding-bottom: 15px;
                }
                .menu__button-bg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color:$green-color;
                    border-radius: 0 15px 15px 0;
                    width: 0;
                    height: 69px;
                    transition: width 0.3s ease-in;
                    overflow: hidden;
                    .menu__checked-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        color: $green-color;
                        width: 20px;
                        height: 20px;
                        border-radius: 15px;
                        background-color: white;
                        transition: width 0.3s ease-in;
                    }
                }
            }  
            &:hover .menu__button-bg {
                width: 59px;
            }
        }
    }
}


/*** Footer ***/


footer {
    background-color: $dark-grey-color;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    .footer__logo {
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 18px;
        font-weight: 400;
        }
    .footer__icon-and-link, a {
        display: flex;
        color: white;
        gap: 11px;
        .footer__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13px;
            font-size: 12px;
        }
        }
        
    }

/*** version ordinateur***/

@media (min-width : 1024px) {

    .navbar {
        .navbar__divlogo {
            height: 96px;
            .divlogo__logo {
                width: 200px;
            }
        }
        .fa-arrow-left {
            margin-top: 40px;
        }
    }

    .maincontent .section__menu .menu__header { 
        justify-content: center;
        gap: 25px;
        .fa-solid {
            opacity: 0;
            position: relative;
            right: auto;
            margin-left: -73px;
            
        }
    }
    .firs-section__menu {
        margin: 0px 13.40%;
        .subsection__menu {
            padding-left: 18.5%;
            padding-right: 18.5%;
        }
    }
    footer {
        flex-direction: row;
        justify-content: end;
        padding: 57px 0 35px 0;
        .footer__logo {
            order: 2;
            margin: 0px 90px 0px 16px;
        }
        .footer__icon-and-link {
            display: flex;
            gap: 11px;
            align-items: center;
            
        }
        .footer__icon-and-link--size {
            width: 190px;
        }

        .footer__icon-and-link--size2 {
            width: 130px;
        }

    }
}

